* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

/* h2 {
  color: rgb(0, 3, 172);
}

.first-title {
  color: rgb(201, 0, 0) ;
}

#link {
  color: rgb(0, 2, 1);
} */
/* 
.random h1 {
  color: rgb(0, 3, 172);
}

#gallery h1 {
  color: rgb(172, 0, 0);
} */

/* .list + ul {
} */
/* 
a[href="#"] {
  color: rgb(226, 43, 43);
}

.list li:nth-last-child(even) {
  color: rgb(255, 127, 127);
}

button {
  margin: 40px;
  padding: 10px;
}

.text-section {
  font-size: 1em;
} */

/* button {
  margin: 20rem;
  padding: 1rem 2rem;
  background: none;
  border: 0.5rem solid rgb(112, 134, 175);
  color: rgb(112, 134, 175);
  font-size: 1.5rem;
  border-radius: 1rem;
}

a {
  height: 50rem;
  width: 50rem;
} */

.container {
  position: relative;
  background: cadetblue;
  height: 80%;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
}

.box1,
.box2,
.box3 {
  background: rgb(131, 95, 160);
  height: 20%;
  width: 20%;
}

.box2 {
  background: rgb(255, 127, 127);
}

.box3 {
  background: rgb(0, 3, 172);
}

.box1 {
  position: absolute;
  top: 0%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

button:hover {
  background: red;
}
